body{
    margin: 0;
}

table{
    padding: 3em;
    font-family: Unna;
    text-align: center;
    width: 100%;
    color: red;
    /* margin-left: 2em; */
   
    background-color: rgb(17, 10, 61);
}
th{
    background-color: aqua;
    padding: .5em;
}
 td{
    border: 1px solid rgb(179, 57, 57);
    padding: .5em;
}
.header-style{
    font-family: 'Comfortaa';
    color: red;
}

